.root_daum_roughmap{
    z-index: 0;
    border: 1px solid red;
}

.bus_route li {
    padding-bottom: 30px;
}

/* 미디어 쿼리 */
@media screen and (max-width: 767) {
    #daumRoughmapContainer1707545075097 {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .row {
        display: flex;
        justify-content: center;
    }
    .bus_route {
        flex: 50%;
    }
    #daumRoughmapContainer1708320582479 {
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    .bus_route {
        margin: 50px;
    }
}